@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'myfont-ultraLight';
  src: url('../public/fonts/WorkSans/WorkSans-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-ExtraLight';
  src: url('../public/fonts/WorkSans/WorkSans-ExtraLight.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-Light';
  src: url('../public/fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-Sawarabi';
  src: url('../public/fonts/SawarabiMincho-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-MontserraThin';
  src: url('../public/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-MontserraLight';
  src: url('../public/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-HelveticaNeuveLight';
  src: url('../public/fonts/helvetica-neue-5/HelveticaNeueLight.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-HelveticaNeuveMedium';
  src: url('../public/fonts/helvetica-neue-5/HelveticaNeueMedium.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
.sawarabi-mincho-regular {
  font-family: 'Sawarabi Mincho', serif;
  font-weight: 400;
  font-style: normal;
}
.yuji-syuku-regular {
  font-family: 'Yuji Syuku', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
.yu-gothic {
  font-family: yu-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.appare {
  font-family: 'potta-one', sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --bg: white;
  --text-black: black;
  --text-gray: #424242;
  --text-grayLight: #616161;
  --color-matcha: #57722a;
  --font-sawarabi: 'Yuji Syuku', serif;
  --font-yuGothic: yu-gothic-pr6n, sans-serif;
  --color-primary: #000000;
  --color-primary-light: #808080;
  --color-primary-darkened: #000000;
  --body-bg-color: #ffffff;
  --body-txt-color: #000000;
  --body-txt-color-light: #777777;
  --body-font: 'Arial', 'sans-serif';
  --content-bg-color: #ffffff;
  --content-border-color: #dddddd;
  --header-bg-color: #000000;
  --header-txt-color: #000000;
  --header-link-color: #ff6666;
  --header-link-color-hover: #dd6666;
  --topbar-bg-color: #000000;
  --topbar-txt-color: #ffffff;
  --topbar-link-color: #ffffff;
  --footer-bg-color: #67656a;
  --footer-txt-color: #ffffff;
  --footer-link-color: #dddddd;
  --footer-link-hover-color: #ffffff;
  --btn-font: 'Arial', 'sans-serif';
  --btn-bg-color: #ff6666;
  --btn-txt-color: #ffffff;
  --btn-border: 1px solid #ff6666;
  --btn-bg-color-hover: #dd6666;
  --btn-txt-color-hover: #ffffff;
  --btn-border-hover: 1px solid #dd6666;
  --btn-s-bg-color: #67656a;
  --btn-s-txt-color: #ffffff;
  --btn-s-border: 1px solid #67656a;
  --btn-s-bg-color-hover: #000000;
  --btn-s-txt-color-hover: #ffffff;
  --btn-s-border-hover: 1px solid #000000;
  --link-txt-color: #bd100e;
  --link-txt-color-hover: #5e0807;
  --header-link-color-hover: #dd6666;
  --titselect-bg-color: #ffffff;
  --titselect-txt-color: #000000;
  --title-font: 'Arial', 'sans-serif';
  --h1-color: #000000;
  --h2-color: #000000;
  --h3-color: #000000;
  --thead-bg-color: #3f3f3f;
  --thead-txt-color: #ffffff;
  --tbody-rupt-bg-color: #d3d3d3;
  --tbody-rupt-txt-color: #000000;
  --tfoot-bg-color: #ffffff;
  --tfoot-txt-color: #000000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'myfont-Light';
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}
h2 {
  font-family: 'myfont-ultraLight';
  font-weight: 400;
  font-size: clamp(1.6rem, calc(1.25vw + 1.5rem), 1.75rem);
  line-height: 1.2;
}
h3 {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
p {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  @apply px-4 py-2 bg-stone-200 border-none rounded-sm;
}

.primary-btn {
  @apply pt-3 pb-2 bg-black text-white rounded-sm;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.205);
  transition: background-color 0.5s ease-out 100ms;
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
  font-size: 1.1rem;
  font-family: 'myfont-HelveticaNeuveMedium';
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.primary-btn:hover {
  background-color: rgb(109, 109, 109);
  transform: scale(1.01);
}
.second-btn {
  @apply px-10 pt-3 pb-2 text-white rounded-sm;
  background-color: #ff6666;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.205);
  transition: background-color 0.5s ease-out 100ms;
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
  font-family: 'myfont-HelveticaNeuveMedium';
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.second-btn:hover {
  background-color: #dd6666;
  transform: scale(1.01);
}

/* PC & iPad Pro (1024px 以上) */
/* @media screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
} */
/* iPad Air (1024px 以下) */
/* @media screen and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
} */

/* iPad Mini & スマートフォン (768px 以下) */
/* @media screen and (max-width: 768px) {
  body {
    background-color: lightcoral;
  }
} */

/* スマートフォン (640px 以下) */
/* @media screen and (max-width: 640px) {
  body {
    background-color: lightgoldenrodyellow;
  }
} */
