@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'myfont-ultraLight';
  src: url('../public/fonts/WorkSans/WorkSans-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-ExtraLight';
  src: url('../public/fonts/WorkSans/WorkSans-ExtraLight.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-Light';
  src: url('../public/fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-Sawarabi';
  src: url('../public/fonts/SawarabiMincho-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-MontserraThin';
  src: url('../public/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont-MontserraLight';
  src: url('../public/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sawarabi-mincho-regular {
  font-family: 'Sawarabi Mincho', serif;
  font-weight: 400;
  font-style: normal;
}
.yuji-syuku-regular {
  font-family: 'Yuji Syuku', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
.yu-gothic {
  font-family: yu-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.appare {
  font-family: 'potta-one', sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --bg: white;
  --text-black: black;
  --text-gray: #424242;
  --text-grayLight: #616161;
  --color-matcha: #57722a;
  --font-sawarabi: 'Yuji Syuku', serif;
  --font-yuGothic: yu-gothic-pr6n, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'myfont-Light';
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}
h2 {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
}
h3 {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
p {
  font-family: 'myfont-Light';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  @apply px-4 py-2 border border-slate-300 rounded-sm;
}
.primary-btn {
  @apply px-4 py-2 bg-black text-white rounded-sm;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.205);
  transition: background-color 0.5s ease-out 100ms;
  transition: all 0.5s ease-in-out;
}
.primary-btn:hover {
  background-color: cadetblue;
  transform: scale(1.01);
}

.second-btn {
  font-family: 'myfont-medium';
  font-size: 0.7rem;
  background-color: #c4010a;
  padding: 6px 8px;
  color: white;
  /* border: 1px solid #3333; */
  border-radius: 50%;
}
/* PC & iPad Pro (1024px 以上) */
/* @media screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
} */
/* iPad Air (1024px 以下) */
/* @media screen and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
} */

/* iPad Mini & スマートフォン (768px 以下) */
/* @media screen and (max-width: 768px) {
  body {
    background-color: lightcoral;
  }
} */

/* スマートフォン (640px 以下) */
/* @media screen and (max-width: 640px) {
  body {
    background-color: lightgoldenrodyellow;
  }
} */
