/* ------------------------------------ Modal ------------------------------------ */
.modalOverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.159);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: fadeIn 0.5s ease-out forwards;
}
.modal_container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}
.modal_content {
  z-index: 3;
  position: relative;
  width: 50%;
  height: auto;
  padding: 0.3rem;
  background: #ffffff;
  border-radius: 5px;
  animation: scaleUp 0.5s ease-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/** SwiperMenu **/
.Swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.overlayText {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 70%;
  background-color: #ffffffb8;
  z-index: 3;
}
.overlayContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  z-index: 4;
}
.overlayText .welcome,
.overlayText h1,
.logo,
.overlayText .tel,
.reservation,
.imgContainer,
.imgContainer_gourmet {
  opacity: 0; /* 初期状態で透明に */
  animation: slideIn 0.3s ease-out forwards;
}
.overlayText .welcome {
  font-family: 'Railway', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  animation-delay: 0s; /* 1 */
  letter-spacing: -0.5px;
}
.imgContainer {
  width: 80%;
  height: 310px;
  overflow: hidden;
  animation-delay: 0.6s; /* 2 */
}
.imgContainer_gourmet {
  width: 80%;
  height: 300px;
  overflow: hidden;
  animation-delay: 0.6s; /* 2 */
}
.img {
  object-fit: cover;
  animation-delay: 0.6s; /* 2 */
  /* object-position: center; */
}
.overlayText .tel {
  text-align: center;
  font-family: 'Railway', sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 30px;
  animation-delay: 1s; /* 3 */
  z-index: 10;
  pointer-events: auto;
}
a.tel:hover {
  background-color: #c4010a !important;
}
@keyframes slideIn {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
}

/* iPad Air (1024px 以下) */
@media screen and (max-width: 1024px) {
  .overlayText {
    top: 25%;
    left: 0%;
    width: 100%;
    height: 60%;
  }
  .overlayContainer {
    top: 50%;
    left: 50%;
  }
  .overlayText .welcome {
    font-size: 0.7rem;
  }
  .imgContainer {
    width: 90%;
    height: 200px;
    margin-top: 0.7rem;
  }
  .imgContainer_gourmet {
    width: 90%;
    height: 200px;
    margin-top: 0.7rem;
  }
  .img {
    object-fit: cover;
    animation-delay: 0.6s; /* 2 */
    /* object-position: center; */
  }
  .overlayText .tel {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  .Swiper {
    width: 100%;
  }
  .overlayText {
    padding: 1rem;
  }
}

/* iPad Mini & スマートフォン (768px 以下) */
@media screen and (max-width: 768px) {
  .overlayText {
    top: 25%;
    left: 0%;
    width: 100%;
    height: 60%;
  }
  .overlayContainer {
    top: 50%;
    left: 50%;
  }
  .overlayText .welcome {
    font-size: 0.7rem;
  }
  .imgContainer {
    width: 90%;
    height: 200px;
    margin-top: 0.7rem;
  }
  .imgContainer_gourmet {
    width: 90%;
    height: 200px;
    margin-top: 0.7rem;
  }
  .img {
    object-fit: cover;
    animation-delay: 0.6s; /* 2 */
    /* object-position: center; */
  }
  .overlayText .tel {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  .Swiper {
    width: 100%;
  }
  .overlayText {
    padding: 1rem;
  }
}

/* スマートフォン (640px 以下) */
@media screen and (max-width: 640px) {
  .overlayText {
    top: 25%;
    left: 0%;
    width: 100%;
    height: 60%;
  }
  .overlayContainer {
    top: 50%;
    left: 50%;
  }
  .overlayText .welcome {
    font-size: 0.7rem;
  }
  .imgContainer {
    width: 100%;
    height: 200px;
    margin-top: 0.7rem;
  }
  .imgContainer_gourmet {
    width: 100%;
    height: 200px;
    margin-top: 0.7rem;
  }
  .img {
    object-fit: cover;
    animation-delay: 0.6s; /* 2 */
    /* object-position: center; */
  }
  .overlayText .tel {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  .Swiper {
    width: 100%;
  }
  .overlayText {
    padding: 1rem;
  }
}
